
Lab1/LabDaConsegnare/test1

Lab1/LabDaConsegnare/test3

Lab2/Labo2TESTO/in

Lab2/Labo2TESTO/out

Lab2/Labo2TESTO/out-10\.txt

Lab2/Labo2TESTO/out-1000\.txt

Lab2/Labo2TESTO/test

Lab2/Labo2TESTO/w
